body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: #ffffff !important;
  background-color: #141414 !important;
}

.game-title {
  font-family: fantasy;
}
